*{
    font-family: 'Courier New', Courier, monospace;
}

h2{
    color: #1b74e4;
    margin-bottom: 10px;
}

#buttonSearch{
    background-color: black;
    color: white;
}

.accountbtn{
    background-color: aqua;
}